---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		
	</head>
	<body>
		
		<div class="fixed top-0 z-[-2] h-screen w-full bg-indigo-800 bg-[radial-gradient(ellipse_110%_110%_at_50%_-15%,rgba(0,0,0,1),rgba(200,200,200,0))]"></div>
		<slot />

	</body>
</html>


